<ion-view title="Page">
    <ion-content padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Time vibration</span>
                <input type="text" placeholder="" ng-model="vm.value">
            </label>
            <label class="item item-input">
                <span class="input-label">Time to vibrate</span>
                <input type="text" placeholder="" ng-model="vm.value1">
            </label>
        </form>
        <button class="button button-stable button-block " ng-click="vm.vibrate()">Click me to start!</button>
        <form class="list"()>
            <ion-checkbox>Nice Checkbox</ion-checkbox>
        </form>
    </ion-content>
</ion-view>
